@import "./base/colors";
* {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
 
*::-webkit-scrollbar {
    width: 1em;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
}

body {
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: Ubuntu;
    display: grid;
    grid-template-columns: 300px auto;
}

.pageContainer {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.title {
    color: $accentColor;
    font-size: 48px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.title-small {
    color: $accentColor;
    font-size: 18px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.page {
    padding: 50px;
    width: calc(100vw - 300px);
}

.breadcrumbs {
    z-index: 99999;
    padding: 20px;
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    position: sticky;
    top: 0px;
    color: $accentColor;
    width: 100%;
    &>div {
        width: fit-content;
        font-size: 22px;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
        display: grid;
        grid-auto-flow: column;
        grid-gap: 15px;
        &>.current {
            color: $secondColor;
            display: inline-block;
            &::after {
                content: " ";
                display: grid;
                margin-top: 7px;
                border-radius: 10px;
                width: 100%;
                height: 5px;
                background-color: $accentColor;
            }
        }
    }
}

.hide {
    display: none;
    visibility: hidden;
}

.btn {
    outline: none;
    padding: 12px 17px;
    text-decoration: none;
    display: grid;
    place-content: center;
    place-items: center;
    width: fit-content;
    font-weight: bold;
    font-size: 22px;
}

.default-btn {
    background-color: $accentColor;
    color: $bgcolor;
}

.owl-carousel {
    display: block;
}

#modal {
    background-color: transparentize($accentColor, .15);
    border-radius: 10px/11px;
    width: 90vw;
    height: 90vh;
    z-index: 999999;
    display: grid;
    visibility: hidden;
    padding: 10px;
    position: fixed;
    top: 5vh;
    left: 5vw;
    &>span {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 72px;
        color: rgb(112, 20, 20);
        transition: all ease-in-out .2s;
        &:hover {
            color: rgb(218, 28, 28);
        }
    }
    &>#modal-recipe {
        color: white;
        font-size: 16px;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
        display: grid;
        grid-template-columns: 1fr 2fr;
        & .title {
            color: white;
            text-align: center;
        }
        & #recipe-meta {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 10px;
            text-align: justify;
            padding: 30px;
            &>div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                place-content: center;
                place-items: center;
                grid-gap: 10px;
                background-color: $accentColor;
                color: #000;
                padding: 10px;
                width: fit-content;
                font-weight: bold;
            }
        }
        height: 100%;
        overflow-y: scroll;
        background-color: #000;
        & #recipe-text {
            box-sizing: content-box;
            text-align: justify;
            padding: 30px;
            overflow-y: scroll;
        }
        & #recipe-ingredients {
            text-align: justify;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr;
            place-content: center;
            place-items: center;
            & .ingredient {
                width: 100%;
                padding: 10px;
                position: relative;
                &.optional {
                    font-size: 12px;
                    color: white;
                    margin: 0;
                    padding: 0;
                    &>div {
                        position: absolute;
                        top: -10px;
                    }
                }
            }
        }
    }
}

.instruction {
    display: grid;
    grid-template-columns: 30px auto;
}

$dummy: "../../assets/images/hamster.gif";
.nextPage {
    text-decoration: none;
    background-image: url($dummy);
    color: #000 !important;
    font-size: 26px;
    ;
}